<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721420726638-7bbqpkb8h9lf1i7etq7cvvp0cp77psuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721420726638-7bbqpkb8h9lf1i7etq7cvvp0cp77psuk</string>
	<key>API_KEY</key>
	<string>AIzaSyCFZkYMQYi4Q_uwN2MQzyzmBjCBPQC-G_I</string>
	<key>GCM_SENDER_ID</key>
	<string>721420726638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-5405b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-5405b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721420726638:ios:76337c7107546c6f9ed17f</string>
</dict>
</plist>